body{
font-size:12px;
}
#logo{
background-image:url('icons/spider.png');
background-size:120px;
background-repeat:no-repeat;
width:120px;
height:100px;
position:absolute;
top:0px;
left:10px;
z-index:10000;
pointer-events: none;
}
#logo2{
position:absolute;
top:10px;
left:12px;
z-index:1000;
}
.avatar div{
width:50px;
height:50px;
margin:0px;
margin-top:25px;
margin-right:15px;
background-size:cover;
display:inline-block;
}
.avatarbig div{
width:150px;
height:150px;
margin:10px;
background-size:cover;
display:inline-block;
}
.avatarsmall div{
width:30px;
height:30px;
margin:3px;
background-size:cover;
display:inline-block;
}

.chat td{
vertical-align:top;
padding:2px;
font-size:12px;
}
.md-menu-toolbar{
text-align:right;
}
md-card{
color:gray;
}
.method{
margin:0px;

min-width:50px;
display:inline-block;
text-align:center;
}

comments div{
margin-left:20px;
}
comments .row{
margin-bottom:0px;
}

.loading{
opacity:0.9;
background-color:rgba(255,255,0,0.1);
}
.error{
background-color:rgba(255,0,0,0.05);
background: repeating-linear-gradient(
  45deg,
  rgba(255,0,0,0.1),
  rgba(255,0,0,0.1) 10px,
  white 10px,
  white 20px
);

}
