<div class="card medium hoverable" style="margin:20px;overflow:auto;padding:10px">
<span class="card-title" style="font-size:8px">{{resource}}</span>

<div scroll-glue class="card-content" style="overflow:auto;min-height:300px;padding:0px">
<table  class="chat">
    <tr ng-repeat="message in items | orderBy:'created':false" ng-class="message.rrspr_status">
    <td style="width:40px;heigth:20px">
        <avatar class="avatarsmall" userid="message.owner" ></avatar>
    </td>
    <td class="left-align" >{{message.body}}</td>
    </tr>
</table>
</div>
<div class="card-action">
<input ng-model="newmessage.body"  ng-keyup="$event.keyCode == 13 && post(newmessage)"/>
</div>
</div>
</div>

