<div>
<h5 class="thin" ng-if="items.length >0">Comments</h5>
<md-list>
    <md-list-item class="md-3-line md-long-text" ng-repeat="message in items  | orderBy:'created':false">
        <avatar class="md-avatar avatarsmall right-align" userid="message.owner"></avatar>
        <div class="md-list-item-text" layout="column">
          <h3><avatar type="'login'" userid="message.owner"></avatar></h3>
            <span am-time-ago="message.created"></span>
            <p>{{message.body}}</p>

        </div>
      </md-list-item>
</md-list>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input ng-model="newcomment.body" id="newcomment" ng-keyup="$event.keyCode == 13 && post(newcomment)" type="text" class="validate">
          <label for="newcomment">Write a nice comment</label>
        </div>
      </div>
    </form>
</div>


</div>
